{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}


<div class="post vstack gap-3 col-md-12 mx-auto mt-5 list-group-item">
    <h2 class="text-center"> <a href="{% url 'post_view' post.id %}"> {{ post.title }} </a></h2><br><br>
    <span class="date_time">{{ post.date_time }}</span> 
    <span class="views">Просмотры: {{ post.total_views }}</span> <br>
    <div >
        {{ post.content }}
    </div>

</div>
{% if request.user.id == post.CustomUser.id %}
    <div>
        <a href="{% url 'change_post_view' id=post.id %}">
            <button type="button" class="btn btn-warning">Изменить</button>
        </a> 
        <a href="{% url 'delete_post_view' id=post.id %}">
            <button type="button" class="btn btn-danger">Удалить</button>
        </a>
    </div>
{% endif %}

{% if request.user.id %}
    <div>
        <a href="{% url 'add_like_post' id=post.id user_id=request.user.id %}">Лайк</a>
    </div>
{% endif %}
    Колличество лайков: {{ sum_likes }}
    {% if error_validate %}
        {{ error_validate }}    
    {% endif %}
    <div class="comment_container">
        <div class="comment_post">
            <form action="{% url 'add_comment' id=post.id%}" method="post">
                {% csrf_token %}
                <label for="comment_body">Комментарий: </label> <br>
                <textarea name="comment_body" id="comment_body" cols="85" rows="10"></textarea> <br>
                <input type="submit" value="Отправить"> <br> <br>
            </form>
        </div>
        {% for comment in comments %}
        <div class="comment">
            <div class="comment_header">
                {{ comment.user }} {{ comment.date_time }} <br>
                {{ comment.body }}
            </div>
        </div> <br>
        {% endfor %}
    </div>
{% endblock %}
