{% extends 'base.html' %}

{% block title %} Мои посты {% endblock %}

{% block content %}
    <h1>Мои посты</h1>

    {% for post in posts %}
    <div class="post vstack gap-2 col-md-5 mx-auto mt-5">
        <h2> <a href="{% url 'post_view' post.id %}"> {{ post.title }} </a></h2>
        <span class="date_time">{{ post.date_time }}</span> 
        <span class="views">Просмотры: {{ post.total_views }}</span><br>
        <div class="content d-inline-block text-truncate" style="max-width: 300px;">
            {{ post.content|slice:":100" }}
        </div>
    </div>
{% endfor %}
{% endblock %}